.chart-section {
  margin: 16px 0;
  width: 100%;

  @include media-desktop {
    margin: 16px 0 0 0;
    width: 40%;
  }

  .card {
    @include media-desktop {
      height: 350px;
    }
  }

  .chart-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .chips-container {
    margin-bottom: 16px;

    @include media-desktop {
      margin-bottom: 24px;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 400;
  }
}