.chips-container {
  display: flex;
  align-items: center;
  gap: 12px;

  @include media-desktop {
    gap: 24px;
  }
}

.MuiChip-root.custom-chip {
  font-family: inherit;

  &.MuiChip-outlined {
    border: 1px solid $text-color-dark;
    color: $text-color-dark;
  }
}