.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 16px 0;

  @include media-desktop {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 24px 0;
  }
}

.header-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .primary-btn {
    margin: 8px 0;
  }

  @include media-desktop {
    align-items: flex-end;
  }
}

.header-tabs {
  width: 100%;

  .MuiTab-root.Mui-selected {
    color: $text-color-dark;
  }
}