.map-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include media-desktop {
    width: 60%;
  }

  .location-map {
    border: none;
    border-radius: $border-radius;
    width: 100%;
    max-width: 100%;
    height: 300px;

    @include media-desktop {
      width: 600px;
      height: 400px;
    }

  }
}