.dashboard {
  max-width: $content-max-width;
  margin: auto;
  min-height: 100vh;
  padding: 16px;

  @include media-desktop {
    padding: 24px;
  }

  .dashboard-main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    @include media-desktop {
      flex-direction: row;
    }
  }
}