* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  background-color: $bg-color-light;
  color: $text-color-dark;

  @include media-desktop {
      font-size: 18px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}