// Fonts
$main-font: 'Poppins', sans-serif;

// Colors
$bg-color-light: #ffffff;
$bg-color-neutral: #fafafa;
$text-color-dark: #0e194e;
$text-color-light: #ffffff;
$text-color-neutral: #d3d3d3;
$primary-blue: #263ddc;
$primary-green: #12b958;

//Breakpoints
$b-tablet: 768px;
$b-desktop: 1024px;
$b-desktop-lg: 1536px;

// Others
$content-max-width: 1200px;
$border-radius-m: 12px;
